@page "/Identity/Account/Login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeetUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>

  <div class="form-container">
            <form class ="form" method="post">
                <h2>Meet Up</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder = "Email"/>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder = "Password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <button class="btn-primary btn" type="submit">Log in</button>
                    <p>
                       Don't have an account<a id="forgot-password" asp-page="./Register">Create an Account</a>
                    </p>
            </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

</body>
</html>
